@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.box {
  position: absolute;
  height: 100%;
  width: 75%;
  background-color: rgb(229, 249, 253);
}

.Qimage {
  width: fit-content;
  margin: 5vh auto;
}

.section_count {
  background-color: aqua;
  width: fit-content;
  border: solid 1px black;
  border-radius: 5px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.total_q {
  float: right;
  background-color: grey;
}

.q_no {
  font-weight: 600;
  background-color: aquamarine;
}

.options {
  border: solid 1px grey;
  background-color: rgb(255, 255, 255);
  margin: 2vh;
  padding: 1vh;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options:hover {
  background-color: #fff;
  transform: translateY(-10%);
}

.question_count {
  margin: 5vh 0;
  background-color: palevioletred;
}

.q_box_box {
  position: absolute;
  left: 74%;
  height: 100%;
  width: 26%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.q_box {
  border: solid 1px black;
  width: fit-content;
  display: inline-block;
  padding: 3vh 4vh;
  margin: 1vh;
  border-radius: 5px;
}

.active {
  background-color: green;
  color: white;
  border: none;
}

.timer {
  width: fit-content;
  float: right;
  padding: 3vh;
  font-size: 20px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.timer h5 {
  font-size: 1.29rem;
  font-weight: 900;
}

.timer_content {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  bottom: 3%;
}

.results {
  position: absolute;
  left: 0px;
  margin: 0 0vh;
}

.name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
  margin: 0 5vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.score_analysis {
  border: solid 2px #2795e4;
  width: 40%;
  box-shadow: 0 8px 16px 0 rgba(94, 143, 173, 0.975),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 5px;
  border-radius: 10px;
  margin-left: 10%;
  width: fit-content;
}

.sub_heading1 {
  font-size: 30px;
  font-weight: 700;
  padding: 2vh 3vh;
  color: #1c2fd9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.list_btn {
  padding: 0vh 6vh;
  border-radius: 10px;
  border: solid 5px #2795e4;
  box-shadow: 0 5px 16px 0 rgba(94, 143, 173, 0.975);
  font-size: 30px;
  color: #2795e4;
  float: right;
}

.sub_heading2 {
  font-size: 30px;
  font-weight: 700;
  padding: 2vh 3vh;
  color: #1c2fd9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.score_analysis2 {
  border: solid 2px #2795e4;
  box-shadow: 0 8px 8px 0 rgba(94, 143, 173, 0.975);
  border-width: 5px;
  border-radius: 10px;
  margin-right: 5%;
  width: fit-content;
  /* width: 50%; */
}

.pie {
  display: inline-block;
}
.recharts-sector {
  color: rgb(159, 91, 66);
}

.radar {
  display: inline-block;
}

.b_box {
  border: solid 4px;
  padding: 2vh;
  margin: 5vh 0;
  color: #5c9dcb;
  font-weight: 700;
}
